<div class="auth-container">
  <h1>Inscription</h1>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label>
      Nom d'utilisateur
      <input type="text" formControlName="username" />
      <small
        class="error"
        *ngIf="
          registerForm.get('username')?.touched &&
          registerForm.get('username')?.invalid
        "
      >
        3 caractères minimum.
      </small>
    </label>

    <label>
      Email
      <input type="email" formControlName="email" />
      <small
        class="error"
        *ngIf="
          registerForm.get('email')?.touched &&
          registerForm.get('email')?.invalid
        "
      >
        Email invalide.
      </small>
    </label>

    <label>
      Mot de passe
      <input type="password" formControlName="password" />
      <small
        class="error"
        *ngIf="
          registerForm.get('password')?.touched &&
          registerForm.get('password')?.invalid
        "
      >
        8 caractères minimum, avec une majuscule, une minuscule, un chiffre et
        un caractère spécial.
      </small>
    </label>

    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

    <button type="submit" [disabled]="registerForm.invalid || isSubmitting">
      S'inscrire
    </button>
  </form>

  <p>
    Déjà inscrit ?
    <a routerLink="/login">Se connecter</a>
  </p>
</div>
